# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# SonarQube scan elements
.scannerwork

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
sonar-project.properties
